
.menu-container {
    display: flex;
    align-items: center;
  }
  
  .hamburger-icon {
    display: none;
  }
  
  @media screen and (max-width: 576px) {
    .menu-container {
      flex-direction: column;
    }
  
    .hamburger-icon {
      display: block;
    }
  
    .user-login-button, .admin-login-button {
      display: none;
    }
  }
  